/* Imports */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* Header top*/
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: #fff;
  height: 4rem;
  width: 100%;

  h1 {
    color: orange;
    font-size: 24px;
    font-weight: bolder;
    font-family: Oswald, sans-serif;
  }

  .buscar {
    position: relative;
    align-items: center;
    display: flex;
    left: 10rem;

    .fa-magnifying-glass {
      position: relative;
      left: 25px;
      top: 1px;
    }

    input {
      border: 1px solid #0d0d0d;
      border-radius: 50px;
      padding: 5px 10px;
      width: 25rem;
    }
  }

  .navegacion .lista-navegacion {
    list-style: none;
    display: flex;
    gap: 25px;
  }

  .lista-navegacion li {
    position: relative; /* Necesario para el dropdown */
    display: flex;
  }

  .lista-navegacion a {
    color: #000;
    text-decoration: none;
    padding: 8px 5px;
    display: block;
  }

  /* ---------- DROPDOWN ---------- */

  .dropdown-btn {
    display: flex;
    align-items: center;

    .fa-globe,
    .fa-user,
    .fa-circle-question {
      color: orange;
    }
  }

  .dropdown-cesta {
    display: flex;
    align-items: center;
    background-color: orange;
    border-radius: 5px;
    padding: 5px 10px;

    .fa-basket-shopping {
      color: white;
    }

    a {
      color: white;
      margin-left: 5px;
      text-decoration: none;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: whitesmoke;
    list-style: none;
    padding: 10px 0;
    border-radius: 5px;
    min-width: 150px;
  }

  .dropdown-content li a {
    padding: 10px 15px;
    white-space: nowrap;
    width: 100%;
  }

  /* Mostrar menú al pasar el ratón */
  .dropdown:hover .dropdown-content {
    display: block;
  }
}

/* Header low top*/

.header-low-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: orange;
  padding: 10px 0;
  color: white;

  h2 {
    padding: 20px;
  }

  span {
    padding-bottom: 20px;
  }
}

.main-container {
  display: flex;
  margin: 0 5rem;

  .container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;

    article {
      margin-top: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;

      .precio1,
      .precio2,
      .precio3,
      .precio4 {
        position: absolute;
        background-color: rgba(255, 166, 0, 0.768);
        color: white;
        padding: 5px 10px;
        font-weight: bold;
        border-radius: 5px;
      }

      .precio1,
      .precio3 {
        margin: 10px;
        right: 34.7rem;
      }

      .precio2,
      .precio4 {
        margin: 10px;
        right: 6rem;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
      }

      h2 {
        margin: 5px;
        padding: 5px;
      }

      span {
        margin: 5px;
        padding: 5px;
        color: gray;
      }
      .puntuaciones {
        margin: 5px;
        display: flex;
        justify-content: space-between;
        padding: 10px;

        .valoracion {
          color: orange;
          display: flex;
          align-items: center;
          gap: 5px;
          font-weight: bolder;

          .fa-star {
            color: gold;
          }
        }
        .precio-min {
          font-weight: bolder;
          display: flex;
          align-items: center;
          gap: 5px;
        }
        .envio {
          font-weight: bolder;
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }
}
